<!-- vulnerable_change_password.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>Change Password</title>
</head>
<body>
    <h1>CSRF Vulnerability</h1>
    <p>Change Password</p>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="password" name="new_password" placeholder="New Password">
        <button type="submit">Change Password</button>
    </form>
</body>
</html>
